
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493520343465'); /* IE9*/
  src: url('iconfont.eot?t=1493520343465#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493520343465') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493520343465') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493520343465#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e62e"; }

.icon-youxiang:before { content: "\e61f"; }

.icon-dianhua1:before { content: "\e60a"; }

.icon-dizhi:before { content: "\e6aa"; }

.icon-dizhi1:before { content: "\e674"; }

.icon-jinlingyingcaiwangtubiao29:before { content: "\e7a6"; }

.icon-dizhi2:before { content: "\e67c"; }

.icon-fenbushishujuyuandds:before { content: "\e642"; }

.icon-yitushibie:before { content: "\e61c"; }

.icon-email:before { content: "\e61e"; }

.icon-zidingyi:before { content: "\e618"; }

.icon-zidingyi1:before { content: "\e6f1"; }

.icon-jiagou:before { content: "\e653"; }

.icon-fenbushijisuan:before { content: "\e60e"; }

.icon-petadatafenbushishujuku:before { content: "\e63a"; }

